{% extends '../base.html' %}

{% block title %}
SEKELE - Add/Edit Announcement
{% endblock %}
{% block content %}
<br><br><br><br>
<div class="container" style="background-color:#8075FF;border-style: solid;border-radius:25px;border-color:#6320EE">
    <div class="container" style="margin-top: 10px;margin-bottom:10px">
        <h1 style="color: #FBFBFB;">ADD ANNOUNCEMENT</h1>
        <form method="POST">
            {% csrf_token %}
            <br>
            <span style="color: #FBFBFB;">Title</span>
            {{AnnForm.judulAn}}
            <br>
            <span style="color: #FBFBFB;">Content</span>
            {{AnnForm.isiAn}}
            <br>
            <button type="Submit" class="btn btn-primary" style="background-color:#6320EE;border-color:#6320EE;">Add</button>
        </form>
    </div>
</div>

<script>
    $('#id_isiAn').click(function () {
        $(this).css("background-color", "#d4c7f0");
    })
    $('#id_judulAn').click(function () {
        $(this).css("background-color", "#d4c7f0");
    })
    $('#id_isiAn').blur(function () {
        $(this).css("background-color", "#FFFFFF");
    })
    $('#id_judulAn').blur(function () {
        $(this).css("background-color", "#FFFFFF");
    })
</script>
{% endblock %}