{% extends '../base.html' %}

{% block title %}
SEKELE - {{Ann.judulAn|title}}
{% endblock %}
{% block content %}
<br><br><br><br>
<div class="container" style="border-radius:25px;box-shadow: -10px -10px 0px #8075FF;margin-top:5%;background-color:#FBFBFB;">
    <h1>{{Ann.judulAn|title}}</h1>
    <p>{{Ann.publisherAn}} | <b>Posted on</b> {{Ann.postedAn}}, <b>last edited on</b> {{Ann.lastEditAn}}</p>
    <p>{{Ann.isiAn}}</p>
    {% if Ann.publisherAn == User %}
    <div class="row" style="margin: auto;">
        <a href="{% url 'announcement:editAn' idAn=Ann.id %}" class="btn btn-primary" style="background-color:#6320EE;border-color:#6320EE;">Edit</a>
        <p>&nbsp;&nbsp;&nbsp;</p>
        <a href="{% url 'announcement:deleteAn' idAn=Ann.id %}" class="btn btn-primary" style="background-color:#6320EE;border-color:#6320EE;">Delete</a>
    </div>
    {% endif %}
    <br>
</div>
{% endblock %}