{% extends 'base.html' %}

{% block title %}
SEKELE | Mata Kuliah
{% endblock %}

{% block css %}

    <style>
        * {
            margin: 0%;
            padding: 0%;
            font-family: 'Poppins';
            text-decoration: none;
        }

        h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 40px;
            align-items: center;
            text-align: center;
            color: #ffffff;
            margin: 5% 0px;
        }

        .container {
            margin-top: 3%;
        }

        .col-sm {
            margin: 2% 3%;
        }

        .col-sm-3 {
            margin: 2% 3%;
            background: #8075FF;
            border-radius: 15px;
        }

        .col-sm-4 {
            width: 100%;
        }

        .card {
            height: 80px;
            width: 98%;
            background: #6320EE;
            border-radius: 15px;
            margin: 5% 0px;
            padding: 3%;
            margin-right: auto;
            margin-left: auto;
        }

        .fa-user {
            color: white;
            font-size: 50px;
            margin: 2% 3%;
        }

        h2 {
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            align-items: center;
            text-align: center;
            color: #FBFBFB;
        }

        h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 40px;
            align-items: center;
            text-align: center;
            color: #ffffff;
            margin: 2% 0px;
        }

        h4 {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 40px;
            color: #000000;
            margin: 2% 0px;
        }

        .header-course {
            width: 100%;
            background-color: #8075FF;
            border-radius: 15px;
            padding: 1%;
        }

        p{
            margin-left: 2%;
        }

        .week-card {
            width: 100%;
            border-radius: 15px;
            margin: 5% 0px;
            padding: 3%;
            background: #FBFBFB;
            box-shadow: -10px -10px 0px #8075FF;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1>{{title}}</h1>
                {% for i in listCourse %}
                <a href="/course/detail/{{i.id}}/" style="text-decoration: none;">
                    <div class="card row d-flex justify-content-center" style="background-image: url('/static/images/{{i.course.image}}'); background-color: rgba(0, 0, 0, 0.3); background-blend-mode: darken;";>
                        <h2>{{i.course}}</h2>
                    </div>  
                    {% endfor %}
                </a>
                <a href="/course/list/" class="btn btn-primary d-flex justify-content-center" style="background-color: white; color:#6320EE; margin-bottom:5%">Add Course &nbsp;<i class="fa fa-plus"></i></a>
            </div>
            <div class="col-sm">
                <div class="header-course">
                    <h3>Course Information</h3>
                    <p style="color: #222222;"><b>Course :</b> {{course_obj.name}}   </p>
                    <p style="color:#222222;"><b>Lecturer :</b> {% for i in lecturer %}{{i.member.username}},{% endfor %}</p> 
                    <a style="color: #222222;" target="_blank"  href="{{course_obj.syllabus}}"><p><b>Syllabus Document</b></p></a>
                    <a style="color: #222222;"  href="{% url 'course:unenroll' course_obj.id %}"><p>Unenroll from this course</p></a>
                </div>
                {% for i in week_obj %}
                <div class="week-card">
                    <h4>Week {{forloop.counter}}</h4>
                    Topic: {{i.topic}}
                    {% if 'lecturer' in Roles %}
                    <a href="{% url 'course:update-week' i.pk %}">Edit week</a> <!-- dosen doang --> 
                    {% endif %}
                    <br><p></p>
                    <a style="color: black;" target="_blank"  href="{{i.google_meet_link}}">Synchronous class</a> <br>
                    <a style="color: black;" target="_blank"  href="{{i.homework_drive}}">Weekly homework</a> <br>
                    <a style="color: black;" target="_blank"  href="{{i.quiz_forms}}">Weekly Quiz</a> <br>
                    <a style="color: black;" target="_blank"  href="{{i.topic_sheets}}">Material</a> 
                </div>  
                {% endfor %}
                {% if 'lecturer' in Roles %}
                <a href="{% url 'course:add-week' course_obj.pk %}" class="btn btn-primary" style="background-color: #6320EE; margin-top:5%;">Add Week</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock  %}