{% extends "base.html" %}
{% load static %}
{% block title%}
SEKELE | My Profile
{% endblock %}

{% block css %}


    <style>
        * {
            margin: 0%;
            padding: 0%;
            font-family: poppins;
        }

        a {
            text-decoration: none;
        }

        h1 {
            margin: 0.5% 0px;
            font-family: Poppins;
            font-weight: bold;
            font-size: 200%;
            color: #6320EE;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        h3 {
            text-align: center;
        }

        .container-fluid {
            margin-top: 4%;
        }

        .container {
            margin-top: 10px;
        }

        /*.row{
            margin: 2% 1%;
        }*/

        #purplebg {
            background-color: #6320EE;
        }

        #purplebg:hover {
            background-color: #6338BC;
        }

        #whitebg {
            border-color: #6320EE;
            background-color: white;
            color: #6320EE;
        }

        #whitebg:hover {
            color: #6320EE;
            border-color: white;
        }

        img.card-img-top {
            width: 100%;
            height: 15vw;
        }

        .search-box {
            margin: 0.5% 0px;
        }

        input[type='text'] {
            float: right;
            width: 50%;
        }

        p{
            text-align: center;
        }

        button{
            border: 2px solid black;
            background: none;
            padding: 5px;
            font-size: 23px;
        }
    </style>
    {% endblock %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3 rounded-circle">
            <br><br>
            <div class="rounded-circle" style="background-color: #6320EE;">
                <img style="width: 100%;" src="{% static 'images/user.png' %}" alt="this is you bro..">
            </div>
        </div>
        <div class="col-md-9">
            <h1>My Profile</h1>
            <div class="rounded container" style="background-color: #6320EE; color:white; ">
                <br>
                <h4 style="font-weight:bold;">Name: &nbsp;&nbsp;&nbsp;&nbsp; {{User.username}}</h4>
                <h4 style="font-weight:bold;">NIM: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{User.nomorinduk}}</h4>
                <h4 style="font-weight:bold;">Birthday: &nbsp; {{User.date_of_birth}}</h4>
                <br>
                <a href="{% url 'account:search' %}"><button>Find User</button></a>
                <h4 class="text-right" style="text-align:right ;"><a href="#" style="color: white;">Edit Profile</a></h4>
                <br>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 d-flex justify-content-center" style="margin: 2% 1%;">
{% for i in list_enroll%}
        <div class="row" style="margin: 2% 1%;">
            <div class="card">
                <img src='/static/images/{{i.course.image}}' class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title"><b>{{i.course.name}}</b></h3>
                    <p class="card-text">{{i.course.description}}</p>
                    <br>
                    <!-- <div class="d-flex justify-content-center">
                        <a href="/course/unenroll/{{i.id}}/" id="purplebg" class="btn btn-primary">
                            <i class="fa fa-plus"></i>&nbsp; Unenroll</a>
                    </div> -->
                </div>
            </div>
        </div>
{% endfor %}
    </div>
</div>
{% endblock %}