{% extends 'base.html' %}

{% block title %}
SEKELE - Cari Teman
{% endblock %}

{% block css %}
<style>
    h3{
        margin: 10px;
    }

    .search-box {
        width: 80%;
        text-align: center;

    }

    .container{
        align: center;
    }

    .result-box {
        width: 80%;
        margin: 0 auto;
        background-color: white;
        padding: 20px;
        border: 1px solid black;
        border-bottom: 0px;
        font-weight: bold;
    }

    .npm-box {
        float: right;
        margin-top: 13px;
    }    

</style>
{% endblock %}

{% block content %}

<br><br>
<h3>Find user</h3>
<div class="container">
<div class="p-2 flex-fill search-box">
    <input type="text" class="form-control" name="search" id="keyword" placeholder="Find. username, nomor induk" autocomplete="off">
</div>
<br><br>
</div>
<div id="daftar-isi">
</div>


<script type="text/javascript">

    $("#keyword").ready(function () {
        search($("#keyword").val());
    })

    $("#keyword").keypress(function () {
        search($("#keyword").val());
    })

    $("#keyword").keyup(function () {
        search($("#keyword").val());
    })

    function search(input) {
        $.ajax({
            url: '/account/data/?q=' + input,
            success: function (data) {
                var array_items = data;
                $("#daftar-isi").empty();
                console.log(input)

                if (array_items.length == 0) {
                    $("#keyword").css('background-color', 'pink');
                }
                else{
                    $("#keyword").css('background-color', 'white');
                }

                for (i = 0; array_items.length; i++) {
                    var index = array_items[i];
                    var username = index.username;
                    var nomorinduk = index.nomorinduk;
                    var image = "/static/images/user.png"

                    $("#daftar-isi").append(
                        "<div class='result-box' id='result'>" + "<img style='width: 50px' src=" + image + ">" + username + "<div class='npm-box'>"+ nomorinduk + "</div>" +"</div>"
                    );
                }
            }
        });
    }
</script>
{% endblock  %}
