<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'images/logo.png' %}" type="image/icon type">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>{% block title %}{% endblock %}</title>
  <style>
    html {
      height: 100%;
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    body {
      position: relative;
      margin: 0;
      padding-bottom: 6rem;
      min-height: 100%;
      font-family: 'Poppins';
    }

    body {
      background-image: url("{% static 'images/background.jpg' %}");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-color: #8075FF;
      color: #FBFBFB;
      font-weight: bold;
      height: 120px;
    }

    navbar {
      background-color: #6320EE;
      color: #FBFBFB;

    }
  </style>

  {% block css %}
  {% endblock %}
</head>

<body>

  <nav class="navbar navbar-expand fixed-top navbar-dark"
    style="background-color:#6320EE;font-family: Poppins; font-weight:900">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a href="{% url 'dashboard:viewDash' %}"><img src="{% static 'images/logo.png' %}" alt="logo"
          style="width: 70px; margin-right:10px;"></a>
      <a style="font-size: 30px; font-weight:900;" class="navbar-brand" href="{% url 'dashboard:viewDash' %}">SEKELE</a>
      <!-- front page -->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: black;" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span style="color: #FBFBFB;">{{User.username}}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/search/">Books</a> <!-- user -->
          <a class="dropdown-item" href="{% url 'account:profile' %}">Profile</a> <!-- user -->
          <a class="dropdown-item" href="{% url 'course:listcourse' %}">Courses</a> <!-- user -->
          <a class="dropdown-item" href="{% url 'dashboard:viewDash' %}">Dashboard</a> <!-- user -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'account:logout' %}">Log out</a> <!-- user -->
        </div>
      </div class>
      <img src="{% static 'images/user.png' %}" alt="" style="width: 70px;">
    </div>
  </nav>
  <!-- <img src="{% static 'images/background.jpg' %}" alt="" style="height:100vh;"> -->


  <br><br><br><br>
  {% block content%}
  {% endblock %}
  <br><br><br><br><br>
  <!-- <br><br><br><br> -->





  <!-- necessary for the bootstrap navbar -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <footer class="footer">
    <div style="height: 25px;"></div>
    <div class="row">
      <div class="col-sm-6">
        university@gmail.com
      </div>
      <div class="col-sm-6">
        <div class="row float-right">
          <!-- <div class="col-1">A</div>
          <div class="col-1">B</div>
          <div class="col-1">C</div>
          <div class="col-1">D</div> -->
          <a class="col" href="https://www.youtube.com/user/numberphile" target="_blank"><img
              src="{% static 'images/youtube.png' %}" alt="A" style="height: 32px;"></a>
          <a class="col" href="https://www.youtube.com/user/numberphile" target="_blank"><img
              src="{% static 'images/twitter.png' %}" alt="A" style="height: 32px;"></a>
          <a class="col" href="https://www.youtube.com/user/numberphile" target="_blank"><img
              src="{% static 'images/facebook.png' %}" alt="A" style="height: 32px;"></a>
          <a class="col" href="https://www.youtube.com/user/numberphile" target="_blank"><img
              src="{% static 'images/ig.png' %}" alt="A" style="height: 32px;"></a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>